package components

templ CreateForm() {
  <form hx-post="/web/storage/new/">
    <div class="input-field">
      <input
        id="stream_name"
        type="text"
        name="stream_name"
        required
      />
      <label for="stream_name">Stream Name</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit">
      <i class="material-icons left">add</i>
      Create
    </button>
  </form>
}
