---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: :construction_worker: "
    labels:
      - "deps: ci"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: :whale: "
    labels:
      - "deps: docker"
    groups:
      docker:
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: "
    labels:
      - "deps: go"
    groups:
      gomod:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/internal/utils/langs/vrl/rust-crate"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: "
    labels:
      - "deps: rust"
    groups:
      cargo-vrl:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/internal/utils/langs/filterdsl/rust-crate"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: "
    labels:
      - "deps: rust"
    groups:
      cargo-filterdsl:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/web/app"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: "
    labels:
      - "deps: javascript"
    groups:
      webapp:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: "
    labels:
      - "deps: javascript"
    groups:
      website:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/tests/e2e/web"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: ":arrow_up: :white_check_mark: "
    labels:
      - "deps: tests"
    groups:
      pip:
        patterns:
          - "*"
