/bin/
/data/
/internal/app/gen_version.go
/internal/utils/langs/filterdsl/rust-crate/target/
/internal/utils/langs/vrl/rust-crate/target/
/web/public/
/web/app/node_modules/
/web/app/dist/
/docs/
/scripts/
/LICENSE.txt
/README.md
/CONTRIBUTING.md
/SECURITY.md
.git*
*.tsbuildinfo
*.log
