/bin/
/data/
/internal/filterdsl/rust-crate/target/
/internal/vrl/rust-crate/target/
/web/static/webcomponents/
/web/components/floweditor/node_modules/
/web/components/code-editor/node_modules/
.git*
