/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.medium-zoom-overlay, .medium-zoom-image {
  z-index: 999;
}

.codeblock-nomargin .theme-code-block {
  margin-bottom: 0 !important;
}