package components

import (
	"link-society.com/flowg/internal/webutils"
)

templ Head() {
  <link rel="stylesheet" href="/static/webcomponents/floweditor.bundle.css" />
  <script type="application/javascript" src="/static/webcomponents/floweditor.bundle.js"></script>
  if webutils.Permissions(ctx).CanEditPipelines {
    <script type="application/javascript" src="/static/js/flowg.pipelines.form.js"></script>
  }
}
