package components

type EditorProps struct {
  Code string
}

templ Editor(props EditorProps) {
  <div class="col s10 h-full flex flex-col">
    <div
      class="
        card-panel white
        p-0 mb-0 h-0
        flex-grow flex-shrink
      "
    >
      <code-editor id="data_transformer_code" code={props.Code}></code-editor>
    </div>
  </div>
}
