.flowg-table .ag-header {
  background-color: #e5e7eb;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.flowg-table .ag-cell-wrapper {
  height: 100%;
}

.flowg-table .flowg-actions-header .ag-header-cell-label {
  justify-content: center;
}
