package components

templ Head() {
  <script type="application/javascript" src="/static/js/apexcharts.min.js"></script>
  <script type="application/javascript" src="/static/js/virtual-scroller.min.js"></script>
  <script type="application/javascript" src="/static/js/flowg.streams.chart.js" defer></script>
  <script type="application/javascript" src="/static/js/flowg.streams.autorefresh.js" defer></script>
  <script type="application/javascript" src="/static/js/flowg.streams.logtable.js" defer></script>
}
