package components

templ NoData() {
  <div class="col s10 h-full flex flex-col">
    <div
      class="
        card-panel white
        p-3 mb-0 h-0
        flex-grow flex-shrink
      "
    >
      No stream found.
    </div>
  </div>
}