---
name: ci-website

on:
  pull_request_target:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout@scm
        uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.head.sha }}"

      - name: setup@buildchain
        uses: ./.github/actions/setup-buildchain

      - name: build@website
        run: task build:all doc:gen:cli doc:gen:openapi www:build
