---
name: release-tag

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Release version'
        required: true

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: cibot@auth
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.CIBOT_APPID }}
          private-key: ${{ secrets.CIBOT_PRIVKEY }}

      - name: checkout@scm
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: main

      - name: setup@scm
        run: |
          git config --global user.name "link-society[bot]"
          git config --global user.email "noreply@link-society.com"
          git remote set-url origin https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/${{ github.repository }}.git

      - name: tag@scm
        run: |
          echo "${{ github.event.inputs.tag_name }}" > VERSION.txt
          git add VERSION.txt
          git commit -m ":bookmark: ${{ github.event.inputs.tag_name }}"
          git push origin main

          git tag ${{ github.event.inputs.tag_name }}
          git push origin ${{ github.event.inputs.tag_name }}

      - name: publish@release
        run: |
          gh release create ${{ github.event.inputs.tag_name }} \
            --generate-notes \
            --latest \
            --discussion-category "Announcements" \
            --draft
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
