---
name: test-e2e

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      pr:
        required: false
        type: string

jobs:
  api:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: write
      checks: write
      pull-requests: write
      statuses: write

    steps:
      - name: checkout@scm
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: "${{ inputs.ref }}"

      - name: setup@testsuite
        uses: ./.github/actions/setup-testsuite
        with:
          ref: ${{ inputs.ref }}
          ghactor: ${{ github.actor }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}

      - name: run@testsuite
        uses: ./.github/actions/run-hurl-testsuite
        with:
          ref: ${{ inputs.ref }}
          pr: ${{ inputs.pr }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
          testsuite: api
          checkname: "API End-To-End Test Report"

  web:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: write
      checks: write
      pull-requests: write
      statuses: write

    steps:
      - name: checkout@scm
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: "${{ inputs.ref }}"

      - name: setup@testsuite
        uses: ./.github/actions/setup-testsuite
        with:
          ref: ${{ inputs.ref }}
          ghactor: ${{ github.actor }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}

      - name: run@testsuite
        uses: ./.github/actions/run-robotframework-testsuite
        with:
          ref: ${{ inputs.ref }}
          pr: ${{ inputs.pr }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
          testsuite: web
          checkname: "Web End-To-End Test Report"

  consul:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: write
      checks: write
      pull-requests: write
      statuses: write

    steps:
      - name: checkout@scm
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: "${{ inputs.ref }}"

      - name: setup@testsuite
        uses: ./.github/actions/setup-testsuite
        with:
          ref: ${{ inputs.ref }}
          ghactor: ${{ github.actor }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}

      - name: run@testsuite
        uses: ./.github/actions/run-hurl-testsuite
        with:
          ref: ${{ inputs.ref }}
          pr: ${{ inputs.pr }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
          testsuite: consul
          checkname: "Consul End-To-End Test Report"

  k8s:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: write
      checks: write
      pull-requests: write
      statuses: write

    steps:
      - name: checkout@scm
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: "${{ inputs.ref }}"

      - name: setup@testsuite
        uses: ./.github/actions/setup-testsuite
        with:
          ref: ${{ inputs.ref }}
          ghactor: ${{ github.actor }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}

      - name: setup@k8s
        uses: ./.github/actions/setup-k8s

      - name: run@testsuite
        uses: ./.github/actions/run-k8s-testsuite
        with:
          ref: ${{ inputs.ref }}
          pr: ${{ inputs.pr }}
          ghtoken: ${{ secrets.GITHUB_TOKEN }}
          checkname: "Kubernetes End-To-End Test Report"
