package components

import (
  "link-society.com/flowg/internal/app"
)

templ Footer() {
  <footer class="page-footer transparent">
    <div class="footer-copyright justify-end">
      <div class="grey-text text-darken-4 pr-2 font-semibold">
        {app.FLOWG_VERSION}
      </div>
    </div>
  </footer>
}
